body {
  font-family: "Rubik", serif
}


button {
  border: none;
  background-color: transparent;
}

.bigReplyButton {
  background-color:  hsl(238, 40%, 52%);
  color: white;
  border-radius: 5%;
  width : 125px;
  height : 50px;
  margin-top: 2.5%;
  vertical-align: top;
}
.bigReplyButton:hover {
  background-color: hsl(223, 19%, 93%);

}

.container {
  position: relative;
}



.commentBox {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  
}
.commentBoxAlt {
  display: none
  
}
.delete {
  color: hsl(358, 79%, 66%);
  font-size: 1.15rem;
}

.delete:hover {
  opacity: 50%;

}

.modal-frame {
    padding: 5%;
    margin: 25%;
    border-radius: 15px;
    width: 50%;
    height: 25%;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0, 0.25);

}


.modal-title {
  font-weight: 800;

}
.modal-body {
  font-weight: 400;
}
.modal-button-negative {
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  padding: 25px;
  background-color: hsl(211, 10%, 45%);
}
.modal-button-positive {
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  padding: 25px;
  background-color: hsl(358, 79%, 66%);
}





.profileimg{
  max-width: 25px;
}

.replyProfileimg {
  margin: 25 5 25;
  max-width: 50px;
  vertical-align: top;
  margin: 2.5%;
}

.replyButton{
  display: flex;
  align-items: center;
  background-color: white;
}
.replyButton:hover {
  opacity: .8;
}
.replyLine {
  border-left : solid hsla(211, 10%, 45%, 0.33) 1px;

}

.textPrimaryBold {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.textAlternateBold{
  color: hsl(211, 10%, 45%);
  font-weight: 700;
  opacity: .8;
}
.textAlternate{
  color: hsl(211, 10%, 45%);
  font-weight: 500;
  opacity: .8;
}

.voteCounter {
  margin-bottom: 0;
  text-align: center;

}

.voteButton {
  background-color:  hsl(228, 33%, 97%) ;
  border-radius: 10px;
  border: none; 
  text-align: center;
  padding: 5px;
  min-width: 20px;
}
.hidden {
  visibility: hidden;

}

.replyBox {
  background-color: white;
  border-radius: 5px;
}

.replyContentBox {
  border: solid 1px hsl(239, 57%, 85%);
  border-radius: 5px;
  color : hsl(211, 10%, 45%);
  width:  66%;
  min-height: 10%;
  background-color: white;
  padding: 1rem;
  margin: 2rem;
  resize: none;
  
}

.repliedUser {
  color : hsl(238, 40%, 52%);
  font-weight: 800;
}

.self {
  background-color: hsl(238, 40%, 52%);
  color: #fff;
  padding: 3px 5px 3px 5px ;

}
.DesktopView {
  display: block;
}

.TabletView {
  display: none;
}


@media only screen and (max-width: 768px) {
  .DesktopView {
    display: none;
  }

  .TabletView {
    display: block;
  }


  .voteButton {
    display : None
  }

  .voteButtonAlt {
    display: flex;
    max-width: 75px;
  }

  .commentBox {
    display: none;
    
  }

  .replyLine {
    border : none;
   }
   
   .bigReplyButton {
    background-color:  hsl(238, 40%, 52%);
    color: white;
    border-radius: 5%;
    width : 125px;
    height : 50px;
    vertical-align: center;
    margin: 0% 0% 5% 35%;
    
  }


  .commentBoxAlt {
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;  
    
  }
  .replyProfileimg {
    margin: 0% 7.5%;
    max-width: 50px;
    vertical-align: center;

  }

  .replyContentBox {
    width:  85%;
    
  }




}
